In [1]:
from inflation.dataset.reader import InflationJSONA101DatasetReader, InflationDataset

In [2]:
# Read dataset from json.gz

reader = InflationJSONA101DatasetReader()
dataset = reader.read("../../a101.all.json.gz")
# dataset = reader.read("../../a101.med.json.gz")

2022-01-20 23:29:19 [INFO] inflation.dataset.reader: total_pages=14533, item_pages=5543

In [3]:
# Save dataset

dataset.save_dataset('A101_full_data.pickle1')

In [4]:
# Read dataset

dt = InflationDataset.read_dataset('../../inflation-resources/data/a101_full_data.pickle')

# Convert dataset to data frame

df = InflationDataset.convert_dataset_to_dataframe(dt)

In [5]:
df.head()

,product_name,product_url,product_code,product_brand,price,currency,in_stock,sample_date
0,Ahşap Ramazan Davulu,https://www.a101.com.tr/anne-bebek/ahsap-ramaz...,26017745,,49.95,TRY,True,2021-11-30 00:31:22
1,Barbie Twistable Scooter 3 Tekerlekli,https://www.a101.com.tr/anne-bebek/barbie-twis...,26018419,,129.95,TRY,True,2021-12-04 15:51:21
2,Bebek Alt Üst Takım Beyaz,https://www.a101.com.tr/anne-bebek/bebek-alt-u...,26014709004,,19.95,TRY,True,2021-12-06 08:30:06
3,Berber Oyun Hamuru Seti,https://www.a101.com.tr/anne-bebek/berber-oyun...,26016222,,24.95,TRY,False,2021-12-08 07:13:18
4,Canbebe Islak Havlu 3x56 cm Adet,https://www.a101.com.tr/anne-bebek/canbebe-isl...,23000698,Canbebe,16.75,TRY,False,2021-12-07 09:04:26

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5543 entries, 0 to 5542
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_name   5543 non-null   object
 1   product_url    5543 non-null   object
 2   product_code   5543 non-null   object
 3   product_brand  5543 non-null   object
 4   price          5543 non-null   float64
 5   currency       5543 non-null   object
 6   in_stock       5543 non-null   bool
 7   sample_date    5543 non-null   datetime64[ns]
dtypes: bool(1), datetime64[ns](1), float64(1), object(5)
memory usage: 308.7+ KB

In [7]:
df.describe()

              price
count   5543.000000
mean     245.183675
std      839.561598
min        0.500000
25%        9.950000
50%       24.900000
75%       99.900000
max    14699.000000

In [8]:
# df.shape()
# TypeError: 'tuple' object is not callable  # Q: niyeyse patliyor?

In [9]:
# How many items are in stock?
print(f"{len(df[df['in_stock'] == True])} items in stocks in total of {len(df)} items.",
      f"{round(len(df[df['in_stock'] == True]) / len(df), 4) * 100}% of products in the stock.", sep='\n')

3391 items in stocks in total of 5543 items.
61.18% of products in the stock.